:root{
    --cor-fundo:rgb(82, 135, 83);
    --cor-fundo-dark: rgb(31, 70, 43);
    --cor-fonte: white;
}

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

}

.container{
    display: flex;
    background: var(--cor-fundo);
    align-items: center;
    flex-direction: column;
}

.tabuleiro{
    display:grid;
    grid-template-columns: 100px 100px 100px;
   grid-template-rows: 100px 100px 100px;
     max-width: 500px;
}
    

.grid{
    border: 2px solid rgb(26, 36, 25);
    min-height: 100px;
    min-width:100px;
    background-color:var(--bg-color-main);
    min-width: 100px;
    min-height: 100px;
    cursor: pointer; 
}

#novo{
    width: 100px;
    height: 50px;
    background-color: rgb(26, 36, 25) ;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    
}